@model SST.Application.Lectors.Queries.GetNotLinkedLectors.LectorListVm;

@foreach (var lector in Model.Lectors.Where(student => student.Email == string.Empty))
{
    <option value="@lector.Id">@lector.FullName</option>
}